<section class="hero">

  <button class="test-button" ng-click="$ctrl.getNextMatches()">Next Matches</button>

  <div ng-repeat="match in $ctrl.matches">
    <h1>{{match.homeTeamName}} vs {{match.awayTeamName}}</h1>
  </div>
</section>
