@import '../common'

.hero
  background-color $darkBgColor
  height 50rem
  padding 3rem
  *
    color $lightTextColor

.test-button
  height 3rem
  min-height 3rem
  width 10rem
  color red
  font-size 1rem

